:host {
    width: auto;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.reset-button {
    font-size: 25px;
    border-radius: 5px;
    background: lightcoral;
    border: 1px solid lightcyan;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
}
    
.reset-button:hover {
    background: lightsalmon;
}

.stats {
    font-size: 25px;
}