.todo-item {
	display: flex;
	margin: 10px;
}

.todo-item input[type=checkbox] {
	margin-top: 18px;
}

.todo-item p {
	margin-left: 10px;
}

.todo-item:hover {
	background: lightgray;
	cursor: pointer;
}