.form-wrapper {
  width: 30%;
  /*margin-top: 15%;*/
  margin: 15% auto;
}

.form-control {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid gray;
}

.message {
  margin-top: 40px;
  font-size: 20px;
}
